/* Regola di Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regole di Root */

:root {
    --primary-color: #9792E4;
    --primary-color-light: #C2C0EF;
    --secondary-color: #0084FD;
    --secondary-color-light: #B5DDFF;
    --orange-text: #FDC15F;
}

/* Regole di Debug  */

.debug header nav ul .left li:first-child a{
    font-size: 30px;
}

.debug header nav ul a{
    text-decoration: none;
    color: #fff;
}

.debug .col, .debug .col-2 {
    height: 400px;
}

.debug #planning .plan{
    height: 350px;
    border: 1px solid black;
}

/* Regole Generali */

html {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.btn {
    padding: 7px 40px;
    border-radius: 25px;
    text-decoration: none;
}

p {
    line-height: 30px;
}

/* Header */

header {
    height: 80px;
    background-color: var(--secondary-color);
    margin-bottom: 2rem;
  
}

header nav {
    width: 80%;
    margin: 0 auto;
}

header ul {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    list-style: none;
    color: #fff;
}

nav li.none:nth-child(5) a{
    background-color: #fff;
    color: black;
    padding: 5px 8px;
    border-radius: 25px;
}

nav li.none {
    margin: 0 10px;
}

/* Main */


main .col, main .col-2 {
    background-color: var(--secondary-color-light);
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
}

main .intro {
    width: 80%;
    margin: auto;
}

.intro .col h3, .intro .col-2 h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.intro .col p, .intro .col-2 p {
    margin-bottom: 2rem;
    color: rgb(101, 100, 100);
    font-weight: bold ;
}

.intro .col-text a.btn {
    background-color: var(--secondary-color);
    color: #fff;
}

.intro .col i {
    color: var(--secondary-color);
    font-size: 50px;
    margin-bottom: 1rem;
}

.intro .col  {
    text-align: center;
}

main #planning {
    background-color: var(--primary-color);
    padding: 2rem 0;
}

main .plan {
    width: 80%;
    margin: auto;
}

main .plan:first-child {
    margin-bottom: 2rem;
}

main .p-white  {
    background-color: #fff;
    border-radius: 40px;
}

#testimonials {
    text-align: center;
    width: 80%;
    margin: auto;
}

#testimonials h6, #testimonials h2 {
    margin: 2rem 0;
}

#testimonials h2 {
    color: var(--primary-color);
}

#testimonials p {
    margin-bottom: 2rem;
}

#testimonials .col {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 40px;
}

#benefits{
    background-color: var(--primary-color);
}

.benefits-container {
    width: 80%;
    margin: 0 auto;
}

#benefits h2 {
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.benefits-container .col {
    background-color: #fff;
    padding-bottom: 2rem;
}

.benefits-container .col .num, .benefits-container .col h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.benefits-container .col .num {
    font-size: 40px;
    font-weight: 600;
}

.benefits-container .col a {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.benefits-container .col p {
    margin-bottom: 1rem;
}

/* Media Query */

@media screen and (min-width: 768px) {
 
    main .intro {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .intro .col {
        width: calc((100% / 3) - 2rem);
        margin: 1rem 1rem;
    }

    .intro .col-2 {
        width: calc((100% / 3) * 2 - 2rem);
        margin: 1rem 1rem;
    }

    .benefits-container {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-container .col {
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }
}

@media screen and (min-width: 1160px) {
    nav li.none {
        display: block;
    }

    nav li a i.fa-solid {
        display: none;
    }

    header nav, main .intro {
        margin: 0 auto;
    }

    .plan-container {
        display: flex;
        margin: auto;
        width: 80%;
    }

    .plan-container .plan {
        margin: 1rem;
    }

    .benefits-container .col {
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }
}
