/* Regola di Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regole di Root */

:root {
    --primary-color: #9792E4;
    --primary-color-light: #C2C0EF;
    --secondary-color: #0084FD;
    --secondary-color-light: #B5DDFF;
    --orange-text: #FDC15F;
}

/* Regole Generali */

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.btn {
    padding: 7px 40px;
    border-radius: 25px;
    text-decoration: none;
}

p {
    line-height: 30px;
}

#planning, #testimonials, #benefits {
    scroll-margin-top: 6rem;
}

/* Header */

header {
    height: 80px;
    background-color: var(--secondary-color);
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header nav {
    width: 90%;
    margin: 0 auto;
}

header ul {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    list-style: none;
    color: #fff;
}

nav li.none:nth-child(5) a{
    background-color: #fff;
    color: black;
    padding: 5px 8px;
    border-radius: 25px;
}

nav li.none {
    margin-left: 10px;
}

header nav ul .left li:first-child a{
    font-size: 30px;
}

header nav ul a{
    text-decoration: none;
    color: #fff;
}

/* Main */

main {
    margin-top: 7rem;
}

main .col, main .col-2 {
    background-color: var(--secondary-color-light);
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
}

main .intro {
    width: 90%;
    margin: auto;
}

.intro .col h3, .intro .col-2 h3 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.intro .col p, .intro .col-2 p {
    margin-bottom: 2rem;
    color: rgb(101, 100, 100);
    font-weight: bold ;
}

.intro .col-text a.btn {
    background-color: var(--secondary-color);
    color: #fff;
}

.intro .col i {
    color: var(--secondary-color);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.intro .col  {
    text-align: center;
}

.intro .col-img img{
    width: 80%;
    margin: 2rem auto 0;
    display: block;
}

main #planning {
    background-color: var(--primary-color);
    padding: 2rem 0;
    margin-top: 3rem;
}

#planning .plan {
    width: 90%;
    margin: auto;
    color: #fff;
}

#planning .plan img {
    width: 100%;
}

#planning .plan h2 {
    margin: 2rem 0;
}

main .plan:first-child {
    margin-bottom: 2rem;
}

main #planning .p-white  {
    background-color: #fff;
    border-radius: 40px;
    color: #000;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

main #planning .p-white img {
    width: 60%;
}

#planning .p-white h3 {
    margin: 1rem 0;
}

#planning .p-white i {
    margin-top: 3rem;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
}

#testimonials {
    text-align: center;
    width: 90%;
    margin: auto;
}

#testimonials h6, #testimonials h2 {
    margin: 2rem 0;
}

#testimonials h2 {
    color: var(--primary-color);
}

#testimonials p {
    margin-bottom: 2rem;
}

#testimonials .col {
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 2rem;
}

#testimonials .img-box img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

#testimonials .img-box p {
    margin: 3rem 0;
    color: #fff;
}

#testimonials .img-box h4 {
    color: #fff;
}

#benefits{
    background-color: var(--primary-color);
}

.benefits-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#benefits h2 {
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    font-size: 2rem;
    width: 90%;
    margin: auto;
}

.benefits-container .col {
    background-color: #fff;
    padding-bottom: 2rem;
}

.benefits-container .col .num, .benefits-container .col h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.benefits-container .col .num {
    font-size: 40px;
    font-weight: 600;
}

.benefits-container .col a {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.benefits-container .col p {
    margin-bottom: 2rem;
}

.about-us {
    width: 90%;
    margin: auto;
}

.about-us h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.about-us img {
    width: 50%;
    border-radius: 50%;
}

.about-us p {
    margin: 2rem 0;
}

.img-box-about {
    position: relative;
}

.img-box-about span {
    position: absolute;
    font-size: 8rem;
    color: var(--primary-color);
    top: 0;
    left: 40%;
}

.img-box-about p {
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.img-box-about a {
    background-color: var(--primary-color);
    color: #fff;
}

.img-box-about i {
    margin-right: 5px;
}

/* Footer */

.footer-top {
    background-color: var(--primary-color);
    margin-top: 2rem;
    text-align: center;
    padding: 3rem;
}

.footer-top h4 {
    color: var(--primary-color-light);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
}

.footer-top h2 {
    color: #fff;
    margin: 1rem 0;
}

.footer-top .big-text {
    color: var(--orange-text);
    margin: 1rem 0;
    font-size: 3rem;
}

.footer-top p {
    color: #fff;
    margin: 2rem 0;
}

.footer-top a.btn {
    color: var(--primary-color);
    background-color: #fff;
}

.footer-top .copyright {
    margin: 2rem 0;
    color: #fff;
}

.footer-top .copyright a{
    color: #fff;
    padding-bottom: 2rem;
}

.footer-bottom {
    background-color: #333333;
    color: #fff;
    padding: 0 3rem ;
    text-align: center;
}

.footer-bottom p {
    padding: 2rem 0;
}

.footer-bottom a {
    color: var(--primary-color);
}


/* Media Query */

@media screen and (min-width: 768px) {
 
    main .intro {
        display: flex;
        flex-wrap: wrap;
        width: calc(90% + 2rem);
    }

    .intro .col {
        width: calc((100% / 3) - 1rem);
        margin: 0 0.5rem 1rem;
    }

    .intro .col-2 {
        width: calc((100% / 3) * 2 - 1rem);
        margin: 0 0.5rem 1rem;
    }

    .intro .col-img img {
        width: 60%;
        margin: 2rem 0 0 0;
    }

    #planning h2, #testimonials h2 {
        font-size: 3rem;
    }

    .benefits-container {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-container .col {
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }

    #testimonials .img-box {
        display: flex;
    }
    
    .about-us {
        display: flex;
        padding: 2rem;
    }

    .about-us .text-about, .about-us .img-box-about {
        width: 50%;
    }

    .about-us .img-box-about {
        padding-top: 2rem;
        margin-left: 2rem;
    }

    .about-us .img-box img {
        width: 25%;
    }

    .footer-top {
        width: 100%;
    }

    .footer-container {
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 1160px) {
    nav li.none {
        display: block;
    }

    nav li a i.fa-solid {
        display: none;
    }

    header nav, main .intro {
        margin: 0 auto;
    }

    .intro .col-2 {
        display: flex;
    }

    .intro .col-img {
        display: flex;
        align-items: flex-end;
    }

    .plan-container {
        display: flex;
        margin: auto;
        width: 80%;
    }

    #planning .plan-container .p-white {
       margin-top: 300px;
       margin-left: 1rem;
    }

    .plan-container .plan {
        margin: 1rem;
    }

    .benefits-container .col {
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }
}
